.logo{
   max-width: 100px;
   padding-left: 5px;

}

.contact{
   background-image: url(images/pexels-igor-ovsyannykov-205961.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


